{% extends "blog/bbase.html" %}

{% block content %}
    <style type="text/css">
        .main { float: left; width: 500px; padding-right: 40px;}
        .time { font-size: 0.8em; margin-top: 2px; }
        .body { font-size: 1.1em; margin-top: 2px; }
        .commentlink { text-align: right; }
        .step-links a { font-size: 0.89em; }
        .title {
            font-size: 1.4em; margin-top: 20px; border-bottom: 1px solid #ccc;
            padding-left: 4px; margin-left: 5px;
        }
        .messages { margin-left: 20px; }
        .pagination { margin-top: 20px; margin-left: -20px; }
    </style>

    <div class="main">

        <!-- Posts  -->
        <ul>
            {% for post in posts.object_list %}
                <div class="title">{{ post.title }}</div>
                <ul>
                    <div class="time">{{ post.created }}</div>
                    <div class="body">{{ post.body|linebreaks }}</div>
                    <div class="commentlink"><a href="{% url simple_blog.views.post post.pk %}">Comments</a></div>
                </ul>
            {% endfor %}
        </ul>

        <!-- Next/Prev page links  -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>

{% endblock %}

{% block sidebar %}
    <style type="text/css">
        #sidebar{ 
            float: right;  
            width: 350px;
            background-color: #eee; 
            display: inline;
            margin: auto;
            padding: 9px 9px;
            border: 1px;
            font-size: 0.9em;
        }

        .image{
            float: left;
            display: block;
            margin: auto;
        }

        .user-info{
            float: right;
            display: block;
            font-size: 12px;
            height: 160px;
            line-height: 19px;
        }

        .user-intro{
            float: left;
            display: block;
            margin-top: 12px;
            font-size: 12px;
            line-height: 19px;
        }

    </style>

    <div id="sidebar">
        <img src="http://img3.douban.com/icon/ul49299457-7.jpg" class="image" alt>
        <div class="user-info">
             From: &nbsp;
             <br>
             San Francisco, CA, United States
             <br>
             <span>h3mpseed</span>
        </div>
        <div class="user-intro">
            <span id="intro_display">
                Life is for living...
                <br>
                I'm not living
                <br>
                I'm just killing time....
                <br>
            </span>
        </div>
     </div>
{% endblock %}